/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px !important


.theme-default-content:not(.custom) 
  max-width: 1000px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 0;
  padding: 2rem 2.5rem;

.page-nav 
  max-width: 1000px !important;
  margin-top: 0px !important;
  margin-right: auto !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;

.page-edit
  max-width: 1000px !important;
  margin-top: 0px !important;
  margin-right: auto !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;

.theme-default-content pre, .theme-default-content pre[class*="language-"] 
  line-height: 1.1;

div[class*="language-"].line-numbers-mode .line-numbers-wrapper 
  line-height: 1.1;

.highlight-lines
  line-height: 1.1 !important;

a.sidebar-link.active
  color: #43658b !important;
  font-weight: 700 !important;
  

section ul > li.sidebar-sub-header > a.sidebar-link.active::after
  content: "💡";

main.page p strong, main.page li strong
  border-bottom: solid 2px #87CEFA;

main.page p > a 
main.page li  a 
  color : blue !important;

main.page img.border
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px;

main .theme-default-content h2
  word-break: normal;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: "segoe ui",meiryo,"yu gothic","hiragino kaku gothic pron",sans-serif;
  box-sizing: border-box;
  font-weight: 700;
  margin: 2.5em 0 .7em;
  line-height: 1.6;
  font-size: 20px !important;
  background: rgba(77,161,255,.05);
  border-bottom: 3px solid #4da1ff;
  color: #272727;
  padding: .5em .7em;
  border-top: none;

main .theme-default-content:not(.custom) h2
main .theme-default-content:not(.custom) h3
  padding-top: 1rem !important;
  margin-top: 5px;
  margin-bottom: 15px;

main .theme-default-content h3
  word-break: normal;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: "segoe ui",meiryo,"yu gothic","hiragino kaku gothic pron",sans-serif;
  box-sizing: border-box;
  font-weight: 700;
  border-color: #6bb6ff;
  margin: 2.6em 0 .7em;
  line-height: 1.5;
  font-size: 20px !important;
  border-left: 3px solid #7289dc;
  padding: .5em .7em !important;
  color: #272727;
  


main .theme-default-content h4
  word-break: normal;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: "segoe ui",meiryo,"yu gothic","hiragino kaku gothic pron",sans-serif;
  box-sizing: border-box;
  font-weight: 700;
  margin: 2.3em 0 .7em !important;
  font-size: 20px !important;
  position: relative;
  color: #272727;
  padding-left: 1.3em;
  line-height: 1.5em;
  margin-bottom: 15px !important;
  padding-top: 0 !important;


main .theme-default-content h4:before
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  position: absolute;
  font-size: 1em;
  left: 0;
  top: 0;
  font-weight: 500;
  color: #ff9b12;