/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px !important


.theme-default-content:not(.custom) 
  max-width: 1000px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 0;
  padding: 2rem 2.5rem;


.theme-default-content pre, .theme-default-content pre[class*="language-"] 
  line-height: 1.1;

div[class*="language-"].line-numbers-mode .line-numbers-wrapper 
  line-height: 1.1;

a.sidebar-link.active
  color: #43658b !important;
  font-weight: 700 !important;
  

section ul > li.sidebar-sub-header > a.sidebar-link.active::after
  content: "💡";

main.page p strong, main.page li strong
  border-bottom: solid 2px #87CEFA;
