/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.img-center {
  display: block; margin: auto;
}

.custom-h2 
  font-size: 28px;
  display: block;
  font-weight: 600;
  align-items: center;
  text-align: center;
  color: #1d1d1f;
  font-family: "SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;

.custom-description
  display: block;
  font-weight: 600;
  font-size: 36px
  align-items: center;
  text-align: center;
  color: #1d1d1f;
  font-family: "SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;

@media only screen and (min-width: 1068px)
  .custom-description
    font-size: 56px;

.custon-contents
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;

.start-btn
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #0071e3;
  border-radius: 100vh;
  font-size: 17px;
  padding : 10px 20px;
  

.start-btn:hover
  color: #fff;
  background-color: #3587da;

.custom-img-wrap {
  overflow: hidden;
  position: relative;
}

.custom-img-wrap:before {
  animation: custom-img-wrap 2.5s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes custom-img-wrap {
  100% {
    transform: translateX(100%);
  }
}

div.custom-date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.custom-date i {
  padding: 0 5px 0 10px;
}


.home .hero img
  max-width 450px !important

.home .hero #main-title
  color : #222 !important;
  font-size: 2rem !important;
  margin : 2px !important;

.home .hero .description
  max-width: 70rem !important;
  font-size: 0.75rem !important;
  color : #666 !important;
  margin-top: 10px !important;

.theme-default-content:not(.custom) 
  max-width: 1000px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 0;
  padding: 2rem 2.5rem;

.page-nav 
  max-width: 1000px !important;
  margin-top: 0px !important;
  margin-right: auto !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;

.page-edit
  max-width: 1000px !important;
  margin-top: 0px !important;
  margin-right: auto !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;

.theme-default-content pre, .theme-default-content pre[class*="language-"] 
  line-height: 1.1;

div[class*="language-"].line-numbers-mode .line-numbers-wrapper 
  line-height: 1.1;

.highlight-lines
  line-height: 1.1 !important;

a.sidebar-link.active
  color: #43658b !important;
  font-weight: 700 !important;
  

section ul > li.sidebar-sub-header > a.sidebar-link.active::after
  content: "💡";

main.page p strong, main.page li strong
  border-bottom: solid 2px #87CEFA;

main.page p > a 
main.page li  a 
  color : blue !important;

main.page img.border
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px;

main h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
  border-bottom: none;
}

main h2:before, main h2:after {
	content: '';
	width: 50px;
	height: 3px;
	background-color: #aaa;
}

main h2:before {
	margin-right: 20px;
}
main h2:after {
	margin-left: 20px;
}

main .theme-default-content:not(.custom) h3
  padding-top: 1rem !important;
  margin-top: 5px;
  margin-bottom: 15px;

main .theme-default-content h3
  word-break: normal;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: "segoe ui",meiryo,"yu gothic","hiragino kaku gothic pron",sans-serif;
  box-sizing: border-box;
  font-weight: 600;
  margin: 1.5em 0 .7em;
  line-height: 1.1;
  font-size: 1.1rem !important;
  border-left: 3px solid #666;
  padding: .5em .7em !important;
  color: #272727;
  


main .theme-default-content h4
  word-break: normal;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: "segoe ui",meiryo,"yu gothic","hiragino kaku gothic pron",sans-serif;
  box-sizing: border-box;
  font-weight: 700;
  margin: 2.3em 0 .7em !important;
  font-size: 20px !important;
  position: relative;
  color: #272727;
  padding-left: 1.3em;
  line-height: 1.5em;
  margin-bottom: 15px !important;
  padding-top: 0 !important;


main .theme-default-content h4:before
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  position: absolute;
  font-size: 1em;
  left: 0;
  top: 0;
  font-weight: 500;
  color: #ff9b12;